{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <h2 class="col-4">Active Listings</h2>
        </div>
    </div>

    <div class="container">
        <div class="row" style="height: 100vh;">
            {% for  listing in listings %}
                <div class="col-12 h-30 m-3 border rounded">
                    <a href="{% url 'detail' listing.id %}">{{ listing.title }}</a>
                    <p>{{ listing.description }}</p>
                    <p>Price: ${{ listing.starting_bid }}</p>
                    <div style="height: 300px">
                        <img src="{{ listing.img_url }}" class="img-fluid h-100">
                    </div>
                    <p>Created at {{ listing.created_at }}</p>
                    <p>Owner: {{ listing.owner }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}